<form [formGroup]="clientForm" (ngSubmit)="createClient(clientForm.value)">

	<div class="form-group mx-sm-3 mb-2">
		<label for="name">
      Name
    </label>
		<input novalidate
    id="name"
    class="form-control"
      formControlName="name"
      placeholder="Your Full Name">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="clientForm.get('name').hasError('required') && clientForm.get('name').touched">
			Name required
		</div>
	</div>

	<div class="form-group  mx-sm-3 mb-2">
		<label for="address">
      Address
    </label>
		<input id="address" type="text"
     class="form-control"
     formControlName="address"
     placeholder="Your Address">
  </div>
		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="clientForm.get('address').hasError('required') && clientForm.get('address').touched">
			Address required
		</div>

		<button class="button mx-sm-3 mb-2" type="submit" [disabled]="clientForm.invalid">Create</button>

</form>